<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
<div padding>
  <ion-segment [(ngModel)]="photo">
    <ion-segment-button value="Make">
      Make
    </ion-segment-button>
    <ion-segment-button value="Storage">
      Storage
    </ion-segment-button>
  </ion-segment>
</div>
  </ion-navbar>
</ion-header>


<ion-content padding>


<div [ngSwitch]="photo">
  <ion-list *ngSwitchCase="'Make'">
     <button (click)="Photoselect()">test3</button> 
     <button (click)="frameselect()">test2</button>
     <ion-item ion-item *ngFor="let image of multi_img">
       <img [src]="image" *ngIf="image" />
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'Storage'">
    <ion-item>
      <ion-thumbnail item-left>
       <!--<img src="img/thumbnail-kitten-1.jpg">-->
      </ion-thumbnail>
      <h2>Luna</h2>
    </ion-item>
  </ion-list>
</div>
</ion-content>
